#!/bin/sh

# Runs following scripts
setWallpaper & 			# Wallpaper changing script
xset r rate 300 50 &
nightlight &			# Set color temperature

autostart="pipewire xcompmgr dunst unclutter"

for program in $autostart; do
	"$program" &
done >/dev/null 2>&1

# Greeting message
notify-send -i ~/Downloads/tux.png "Welcome back to Linux" "$(date +'%A ~ %d %B %Y')" -t 10000
